@model ChefsWonders.Models.Chef

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Chef</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.statusMaster.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statusMaster.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChefName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChefName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChefID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
